section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
  margin: auto;
}

img {
  
  padding: 20px;
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border: 7px solid darkblue;
  margin: 20px;

  /* TODO: Add a margin property */
  /* TODO: Add a padding property */
  /* TODO: Add a border property */
}
